ultralytics
opencv-python
numpy
pandas
openpyxl
scipy
supervision
matplotlib
seaborn
pillow
tqdm

lap
filterpy
cython_bbox

flask
flask-cors
flask-socketio
eventlet
python-dotenv

sqlalchemy
psycopg2-binary
alembic

torch
torchvision
torchaudio
torchreid

deepface
insightface
onnxruntime

pyyaml
requests
loguru
shapely